
html, body {
	background: linear-gradient(120deg, #99ff66, #ff9933);
	background-size: cover;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 1.3;
	overflow: hidden;
	margin: 0px;
	text-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

h3 {
	left: 50%;
	position: relative;
	transform: translate(-50%, -7px);
}

.background {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#content {
	overflow: auto;
	position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  bottom: 0;
}

.title {
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	z-index: 2;
	background-color: #ffffff;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
  padding-right: 30px;
	border-bottom: 2px;
	border-color: #000000;
  position: relative;
  display: flex;
}

#logout {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(-250%, -125%);
  vertical-align: middle;
  cursor: pointer;
}

.action {
	padding: 15px;
	margin: 20px;
	background-color: white;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

#login-instagram {
	display: none;
}

.stat-block {
	width: 100%;
	margin-top: 15px;
	display: flex;
}

.button {
	cursor: pointer;
	height: 30px;
	display: flex;
}

.stats h4,
.stats p {
	display: inline;
}

.stats {
	width: 50%;
}
.num {
	width: 25%;
}

table{
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}
